.popup-card {
  width: 350px;
  background-color: #f7e5d8;
  padding: 10px 35px 35px;
  border-radius: 16px;
  text-align: center;
  height: 410.35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
  height: 50px;
  }
  
  .cat-sprite {
    margin-top: auto;
    width: 110px;
    height: 110px;
    margin: 0 auto 16px;
  }
  
  .timer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
  }
  
  .timer-text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .primary-button {
    background-color: #c1a692;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .input-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .task-input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }