.hunger-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.hunger-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}